/* Button hero */
.dark-button {
  padding: 0 4rem;
  position: relative;
  display: inline-flex;
  border: .2px solid rgba(255, 255, 255, 0.493);
  border-radius: .5rem;
  min-width: 100px;
  min-height: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.dark-button-hv:hover {
  border: .2px solid #000;
}

.dark-button-hv-change:hover {
  border: .2px solid #161B22;
}

  .dark-button-bg-text {
    background: rgb(0, 0, 0);
  }

  .dark-button-bg-text-blue {
    background: #161B22;
  }

  .dark-button-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center
  }


  .dark-button-background {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: .5rem;
    background: linear-gradient(-90deg,
        #707070, #000000, #8d8d8d, #000000);
    background-size: 400% 100%;
    border: none;
    padding: 0;
    margin: 0;
    animation: backgroundAnimation 8s cubic-bezier(0.42, 0, 0, 1.03) infinite
  }

  @keyframes backgroundAnimation {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg)
    }
  }

  .dark-button-background:after {
    content: "";
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    -webkit-animation: inherit;
    animation: inherit;
    left: 0;
    right: 0;
    top: 2px;
    height: 100%;
    filter: blur(.5rem)
  }