.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  background: linear-gradient(#0D1116, #06080A) padding-box,
              linear-gradient(to right, #06080A,#F9C629, #FE5B49 ) border-box;
  border: 1px solid transparent;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #FE5B49, #F9C629);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  color: rgb(158, 158, 158);
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #fff;
  background: #080b0e;
  border-radius: .5rem;
  padding-left: 15px;
  border: 1px solid rgb(33, 33, 33);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #FE5B49;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #FE5B49, #F9C629);
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: transparent;
  color: #000;
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.area:focus {
  outline-color: #fe5b4978;
  transition: all 0.3s ease;
  outline-style: solid;
  outline-width: 0.001px;
  
}
